*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: arial, sans-serif;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid black;
  z-index: 1;
  width: 80vw;
  height: 48vw;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0
}
li {
  padding: 10px 0;
}

a {
  text-decoration: none;
  color: inherit;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.wrapper {
  width: 80vw;
  height: 48vw;
  position: absolute;
  top: 5px;
  left: 5px;
}

.replay {
  display: none;
  position: absolute;
  top: 1vw;
  right: 1vw;
  width: 3vw;
  height: 3vw;
  cursor: pointer;
  z-index: 3;
  background-image: url('visuals/replay.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.fire {
  display: none;
  position: absolute;
  bottom: 1vw;
  right: 1vw;
  width: 3vw;
  height: 3vw;
  cursor: pointer;
  z-index: 3;
  background-image: url('visuals/fire.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.jump {
  display: none;
  position: absolute;
  bottom: 1vw;
  left: 1vw;
  width: 3vw;
  height: 3vw;
  cursor: pointer;
  z-index: 3;
  background-image: url('visuals/jump.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.sound {
  display: none;
  position: absolute;
  top: 1vw;
  left: 1vw;
  width: 3vw;
  height: 3vw;
  cursor: pointer;
  z-index: 3;
}
.sound-on {
  background-image: url('visuals/soundOn.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.sound-off {
  background-image: url('visuals/soundOff.png');
  background-repeat: no-repeat;
  background-size: contain;
}

#game-over {
  display: none;
  text-align: center;
  padding-top: 10vw;
  z-index: 1;
  width: 80vw;
  height: 48vw;
  position: absolute;
}

.w3-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
